<div>
  <h1>Hello, directives!</h1>
  <h2>Hello, media queries!</h2>
</div>

<style>
  div > h1 {
    color: black;
  }

  @screen sm {
    div > h1 {
      color: red;
    }
  }

  div > h2 {
    color: black;
  }

  @media (min-width: 640px) {
    div > h2 {
      color: red;
    }
  }
</style>
